
{% extends 'main.html' %}
{% block content %}
<div class="col-md-6 offset-md-3" style="width: 100%; height: auto;">
    {% for doctor in doctors %}
   
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ doctor.profile_picture.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> {{doctor.username}}</h5>
              <p class="card-text">Speciality:{{doctor.speciality}}</p>
              <a href="{% url 'book_appointment' doctor.id %}" class="btn btn-primary" >Book Appointment</a>
            </div>
          </div>
        </div>
      </div>
      
    {% endfor %}
</div>
{% endblock %}