{% extends "main.html" %}
{% block content %}
<div class="col-md-6 offset-md-3" style="height: 100%;">

    <span class="dropdown">
      
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Select Category
        </button>
        <ul class="dropdown-menu">
            {% for category in categories %}

          <li><a class="dropdown-item" href="{% url 'blog_posts_by_category' category.slug %}">{{ category.name }}</a></li>
      {% endfor %}
        </ul>
      </span>
      <span class="dropdown">
    <a href="{% url 'draft' %}" class="btn btn-secondary">
      
         Draft
    
    </a>  
      </span>
    
    <h2 style="text-align: center;">My Blog Posts</h2>


  
    {% for post in blog_posts %}
    {% if post.status == 'Published' %}
    <div class="card mb-3">
        <img src="{{ post.image.url }}" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          {% comment %} <p class="card-text">{{post.summary}}</p> {% endcomment %}
          <p class="card-text">{{ post.truncated_summary }}</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}

</div>
{% endblock %}
