{% extends 'main.html' %}
{% block content %}
<div class="col-md-6 offset-md-3" style="height: 100vh;">
    <h2 style="text-align: center;">Login</h2>
    <form method="post" action="{% url 'login' %}">
        <div class="mb-3">
            {% csrf_token %}
          <label for="username" class="form-label">Username : </label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password : </label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}
